body {
	background-color: #7F4ACF;
	color: #F5F5F5;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

svg {
  width: 120px;
  height: 120px;
  fill: #06263E;
}

a:hover svg {
  fill: #E36C6C; 
}

a:active svg {
  fill: #B84A4A; 
}